<div class='<%= tileClass %> box-product-outer'>
    <div class="box-product">
        <div class="img-wrapper">
            <a style="height:240px;vertical-align:middle" href='/<%= product.gendergroup %>/<%= product.category %>/<%= product.subcategory %>/<%= product.agegrouptitle %>/<%= product.id %>/any/<%= product.name %>.html'>
                <% if (product.imagepath){ %>
                <img  alt="<%= product.name %>" src='<%= product.imagepath %><%= product.lg %>' class="img-responsive"/>
                <% } else { %>
                <img  alt="<%= product.name %>" src='images/no_image_dash.gif' class="img-responsive">
                <% }%>
            </a>
            <div class="tags">
                <% if(product.isfeatured) { %>
                    <span class="label-tags"><span class="label label-success arrowed">Featured</span></span>
                <% }  if(product.isnew) { %>
                    <span class="label-tags"><span class="label label-warning arrowed">New</span></span>
                <% }  if(product.isbestseller) { %>
                    <span class="label-tags"><span class="label label-primary arrowed">Bestseller</span></span>
                <% }  %>
            </div>
            <div class="tags tags-left">
                <% if(product.isdeal) { %>
                    <span class="label-tags"><span class="label label-danger arrowed-right">Deal</span></span>
                <% }  if(product.issale) { %>
                    <span class="label-tags"><span class="label label-success arrowed-right">Sale</span></span>
                <% }  %>
                <span class="label-tags"><span class="label label-primary arrowed-right"><%= product.agegrouptitle %></span></span>
            </div>
        </div>
        <h6 style="height:60px;overflow-y:hidden;"><a href='/<%= product.gendergroup %>/<%= product.category %>/<%= product.subcategory %>/<%= product.gendergroup %>/<%= product.id %>/any/<%= product.name %>.html' title="<%= product.name %>"><%= product.name %></a></h6>
        <div class="price">
        <%
        if(product.discount>0){
        %>
            <div class="text-primary"><%= product.unitprice - (product.unitprice*product.discount/100) %>&nbsp;<span class="label-tags"><span class="label label-default">&nbsp;-<%= product.discount %>%</span></span></div>
            <span class="price-old text-danger"><%= product.unitprice %></span>
        <%
        }else {
        %>
            <span class="text-primary"><%= product.unitprice %></span>
        <%
        }
        %>
        </div>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <a href="#">(5 reviews)</a>
        </div>
    </div>
</div>