<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head',{siteattributes:siteattributes}) %>

  <body class="fade-down">
    <%- include('shared/topbar',{siteattributes:siteattributes}) %>
    <%- include('shared/searchbar',{navigation:navigation,siteattributes:siteattributes}) %>
    <%- include('shared/navbar',{navigation:navigation,siteattributes:siteattributes}); %>
    <%- include('components/breadcrumb',{navPath:navPath,siteattributes:siteattributes}) %>
        
    <div class="container m-t-3">
        <div class="row">
  
          <!-- Shopping Cart List -->
          <div class="col-md-9">
            <div class="title"><span>My Shopping Cart</span></div>
            <div class="table-responsive">
              <table class="table table-bordered table-cart">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Title</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>SubTotal</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody id="shop-cart-table-rows">
                </tbody>
                <tr>
                    <td colspan="5" class="text-right">Sub total</td>
                    <td colspan="2"><b id="shop-cart-table-st">0.00</b></td>
                </tr>                
                <!-- <tr>
                    <td colspan="5" class="text-right">GST</td>
                    <td colspan="2"><b id="shop-cart-table-gst">0.00</b></td>
                </tr>                
                <tr>
                    <td colspan="5" class="text-right">Shipping Charges</td>
                    <td colspan="2"><b id="shop-cart-table-dc">0.00</b></td>
                </tr>                 -->
                <tr>
                    <td colspan="5" class="text-right">Total (including GST and Shipping Charges )</td>
                    <td colspan="2"><b id="shop-cart-table-tt">0.00</b></td>
                </tr>                
              </table>
            </div>
            <nav aria-label="Shopping Cart Next Navigation">
                <ul class="pager">
                  <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Continue Shopping</a></li>
                  <%
                    if(customerId && customerId!=0){
                  %>
                    <li class="next"><a href="/account/<%= customerId %>/checkout.html" >Checkout <span aria-hidden="true">&rarr;</span></a></li>
                  <%
                    }else{
                  %>
                    <li class="next"><a href="/guest/login.html" >Checkout <span aria-hidden="true">&rarr;</span></a></li>
                  <%
                    }
                  %>
                </ul>
            </nav>
          </div>
        </div>
    </div>
    <%- include('shared/footer',{siteattributes:siteattributes}) %>
    <%- include('shared/scripts') %>
    <script type="text/javascript">
      $(document).ready(function(){
        var stotal=0;
        var gst = 0;
//        var gst=localStorage.getItem('gst') || '0.05';
        var ctotal=0.00;
        var dctotal = 0;
        for ( var i = 0, len = localStorage.length; i < len; ++i ) {
            key=localStorage.key( i );
            if(key.indexOf('#c-chk-') == 0){
                var {qty,img,url,name,price,sku,size} = JSON.parse(localStorage.getItem(key));
                var innerCartHTML='<tr id="c-chk-'+sku+'-'+size+'-tr"><td class="img-cart"><a href="'+url+'"><img class="img-thumbnail" src="'+img+'" alt="product"></a></td>';
                innerCartHTML +='<td><p><a href="'+url+'" class="d-block">'+name+'</a></p></td><td>'+size+'</td><td>'+qty+'</td><td class="unit">'+(price).toFixed(2)+'</td><td class="sub">'+(price*qty).toFixed(2)+'</td>';
                innerCartHTML +='<td class="action"><a href="javascript:removeItemFromCart(\'#c-chk-'+sku+'-'+size+'\');" class="text-danger" data-toggle="tooltip" data-placement="top" data-original-title="Remove"><i class="fa fa-trash-o"></i></a></td></tr>';
                $(innerCartHTML).appendTo('#shop-cart-table-rows');
                var innerCartHTML2='<tr id="c-chk-'+sku+'-'+size+'-tr"><td class="img-cart"><a href="'+url+'"><img class="img-thumbnail" src="'+img+'" alt="product"></a></td>';
                innerCartHTML2 +='<td><p><a href="'+url+'" class="d-block">'+name+'</a></p></td><td>'+size+'</td><td>'+qty+'</td><td class="unit">'+(price).toFixed(2)+'</td><td class="sub">'+(price*qty).toFixed(2)+'</td>';
                innerCartHTML2 +='</tr>';
                $(innerCartHTML2).appendTo('#shop-chkout-table-rows');
                
                stotal += (price*qty);
            }
        }
        ctotal = stotal + (stotal * gst);
        $('#shop-cart-table-st').text(stotal.toFixed(2));
//        $('#shop-cart-table-gst').text((stotal * gst).toFixed(2));
//        $('#shop-cart-table-dc').text(dctotal.toFixed(2));
        $('#shop-cart-table-tt').text(ctotal.toFixed(2));        
      })
    </script>
    
  </body>
</html>