<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head',{siteattributes:siteattributes}) %>

  <body class="fade-down">
    <%- include('shared/topbar',{siteattributes:siteattributes}) %>
    <%- include('shared/searchbar',{navigation:navigation, siteattributes:siteattributes}); %>
    <%- include('shared/navbar',{navigation:navigation, siteattributes:siteattributes} ); %>
    <%- /* include('components/carousel') */%>
    
    <!-- Main Content -->
    <div class="container m-t-2">
      <div class="row">
        <!-- New Arrivals & Best Selling -->
        <div class="col-md-3 m-b-1">
          <% if(newproduct) {%>
            <div class="title"><span><a href="/new.html">New Arrivals <i class="fa fa-chevron-circle-right"></i></a></span></div>
            <div class="widget-slider owl-carousel owl-theme owl-controls-top-offset m-b-2">
                <% newproduct.forEach(function(product){ %>
                  <%- include('components/tile',{tileClass:"col-xs-12 col-sm-12 col-lg-10",product:product, rlabel:'n', llabel:''}) %>
                <% }) %>
            </div>
            <% } %>
            <% if(bestseller) {%>
              <div class="title"><span><a href="/bestseller.html">Best Selling <i class="fa fa-chevron-circle-right"></i></a></span></div>
              <div class="widget-slider owl-carousel owl-theme owl-controls-top-offset m-b-2">
                  <% bestseller.forEach(function(product){ %>
                  <%- include('components/tile',{tileClass:"col-xs-12 col-sm-12 col-lg-10",product:product, rlabel:'b', llabel:''}) %>
                  <% }) %>
              </div>
            <% } %>            
        </div>
        <div class="clearfix visible-sm visible-xs"></div>

        <% if(featured.length>0) { %>
          <div class="col-md-9">
                <div class="title"><span>Featured</span></div>
                <% featured.forEach(function(product){ %>
                <%- include('components/tile',{tileClass:"col-xs-6 col-sm-4 col-lg-3",product:product, llabel:'f', rlabel:''}) %>
                <% }) %>
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <% } %>

          <% if(deal.length>0) { %>
            <div class="col-md-9">
                  <div class="title"><span>Deals</span></div>
                  <% deal.forEach(function(product){ %>
                  <%- include('components/tile',{tileClass:"col-xs-6 col-sm-4 col-lg-3",product:product, llabel:'d', rlabel:''}) %>
                  <% }) %>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <% } %>
            
        
      <%- /* include('components/slider/brand') */ %>

    </div>
    </div>
    <!-- End Main Content -->

    <%- include('shared/footer',{siteattributes:siteattributes}) %>
    <%- include('shared/scripts') %>
    <script type="text/javascript">
      $(document).ready(function(){
        localStorage.setItem('gst','0.05');
      });
    </script>
  </body>
</html>