<!DOCTYPE html>
<html lang="en">
    <%- include('shared/head',{siteattributes:siteattributes}) %>
  <body class="fade-down">

    <%- include('shared/topbar',{siteattributes:siteattributes}) %>
    <%- include('shared/searchbar',{navigation:navigation,siteattributes:siteattributes}) %>
    <%- include('shared/navbar',{navigation:navigation,siteattributes:siteattributes}) %>
    <%- include('components/breadcrumb',{navPath:navPath,siteattributes:siteattributes}) %>
  
    <!-- Main Content -->
    <div class="container m-t-3">
          
      <div class="row">
        <!-- Image List -->
        <div class="col-sm-4">
          <div class="image-detail">
            <% if (product.ProductImages && product.ProductImages.length>0){ %>
              <img  alt="" src='<%= product.ProductImages[0].path %><%= product.ProductImages[0].lg %>' data-zoom-image='<%= product.ProductImages[0].path %><%= product.ProductImages[0].xxl %>'>
              <% } else { %>
                <img  alt="" src='/images/demo/polo1.jpg'>
            <% }%>
          </div>
          <div class="products-slider-detail owl-carousel owl-theme m-b-2">
          <% 
            product.ProductImages.forEach(function(image){ 
          %>
            <a href="#"><img src='<%= image.path %><%= image.lg %>' data-zoom-image='<%= image.path %><%= image.xxl %>' alt="" class="img-thumbnail"></a>
          <% })%>
        </div>
        <div class="title"><span>Share to</span></div>
          <div class="share-button m-b-3">
            <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn btn-info"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn btn-danger"><i class="fa fa-google-plus"></i></button>
            <button type="button" class="btn btn-primary"><i class="fa fa-linkedin"></i></button>
            <button type="button" class="btn btn-warning"><i class="fa fa-envelope"></i></button>
          </div>
        </div>
        <!-- End Image List -->

                
        <div class="col-sm-8">
            <% if(isadmin) { %> 
              <div class="btn-grp">
                <input type="hidden" value="<%= product.isactive %>" name="isactive" />
                <a href="/admin/product/<%=product.id%>/edit.html" class="btn btn-success">Edit</a>
                <button class="btn btn-warning" onclick="javascript:updateStatusProduct()"><%= product.isactive ? 'Block':'Active' %></button>
                <button class="btn btn-danger" onclick="javascript:deleteProduct()">Delete</button>
              </div> <br />
          <% } %>
        
            <div class="title-detail">
              <%= product.name %>
              <% if(isadmin){ %>
                <h5><div class="text-primary">Active: <%= product.isactive ? 'Yes' : 'No' %></div></h5>
              <% } %>
            </div>

                          
            <div class="text-muted"><%= product.shortdesc %></div><br />
            <table class="table table-detail">
              <tbody>
                  <tr>
                      <td>SKU or Barcode</td>
                      <td>
                          <%= product.sku %>
                      </td>
                  </tr>
                <%
                if(product.Inventories.length  > 0) {
                %> 
                <tr>
                  <td>Size</td>
                  <td>
                    <select class="selectpicker" data-width="80px" data-formpicker='prd-size'>
                      <option value="<%= product.id %>-default"> Size </option>
                      <%
                        product.Inventories.forEach(function(inventory){
                          inventory.items.forEach(function(item){
                      %>
                          <option value='<%= product.id %>-<%= item.size %>' ><%= item.size  %></option>
                      <%
                        }) })
                      %>
                      </select>
                    </td>
                </tr>
                </tbody>
                <tbody id="<%= product.id %>-default">
                  <tr>
                      <td>Price</td>
                      <td><span class="label label-warning arrowed">Please Select Size</span></td>                      
                  </tr>
                  <tr>
                      <td>Quantity</td>
                      <td><span class="label label-warning arrowed">Please Select Size</span></td>                      
                  </tr>
                </tbody>
                <%
                  product.Inventories.forEach(function(inventory){
                    inventory.items.forEach(function(item){
                %>
                <tbody class="hide" id="<%= product.id %>-<%= item.size %>">
                    <input type="hidden" value="<%= item.id %>" data-cart-attribute='invid'/>
                    <input type="hidden" value="<%= item.size %>" data-cart-attribute='size'/>
                    <input type="hidden" value='<%= product.sku %>' data-cart-attribute='sku'/>
                    <input type="hidden" value="<%= item.unitprice - (item.unitprice * item.discount*0.01) %>" id="prd-price" data-cart-attribute='price'/>
                    <input type="hidden" value="1" />
                    <input type="hidden" value='<%= product.id %>' id="prd-pid" data-cart-attribute='pid'/>
                    <input type="hidden" value='<%= product.name %>' id="prd-name" data-cart-attribute='name'/>
                    <% if (product.ProductImages && product.ProductImages.length>0) { %>
                      <input type="hidden" value='<%= product.ProductImages[0].path %><%= product.ProductImages[0].sm %>' id="prd-img" data-cart-attribute='img'/>
                    <% } else { %>
                        <input type="hidden" value='/images/demo/polo1.jpg' id="prd-img" data-cart-attribute='img'/>
                    <% }%>
                    <tr>
                        <td>Price</td>
                        <td>
                            <div class="price">
                              <div><%= item.unitprice - (item.unitprice * item.discount*0.01) %><span class="label label-default arrowed">-<%= item.discount %>%</span></div>
                              <span class="price-old"><%= item.unitprice %></span>
                              <span><%=item.instock - item.reserved %></span>
                            </div>
                      </td>
                    </tr>
                    <%
                      if(item.instock - item.reserved > 0){
                    %>
                    <tr>
                      <td>Quantity</td>
                      <td>
                          <input type="text" value="1" class="form-control text-center" name="quantity" id="prd-qty" data-cart-attribute='qty'/>
                      </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                          <button data-form="<%= product.id %>-<%= item.size %>" class="btn btn-theme m-b-1 add-to-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </td>  
                    </tr>
                        <%
                      } else { 
                    %>
                    <tr>
                        <td> Quantity </td>
                        <td> <label class="text-danger"> Out of stock </label </td>
                    </tr>
                    <%
                      }
                    %>
                </tbody>
                <%
                    })
                  })
                } else {
                %>
                <tr>
                    <td> Quantity </td>
                    <td> <label class="text-danger"> Out of stock </label </td>
                </tr>
                <%
                  }
                %>
            </table>
          </div>

        <div class="col-md-8">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Details</a></li>
            <% if(isadmin) { %>
              <li role="presentation"><a href="#inventory" aria-controls="detail" role="tab" data-toggle="tab">Inventory</a></li>  
              <li role="presentation"><a href="#images" aria-controls="detail" role="tab" data-toggle="tab">Images</a></li>  
            <% } %>            
          </ul>
          <!-- End Nav tabs -->

          <!-- Tab panes -->
          <div class="tab-content tab-content-detail">

              <!-- Description Tab Content -->
              <div role="tabpanel" class="tab-pane active" id="desc">
                <div class="well">
                  <p>
                      <%= product.longdesc %>
                  </p>
                </div>
              </div>
              <!-- End Description Tab Content -->

              <!-- Detail Tab Content -->
              <div role="tabpanel" class="tab-pane" id="detail">
                <div class="well">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="col-md-2">Gender</td>
                        <td>
                          <%= product.gender=='m' ? 'Men' :'' %>
                          <%= product.gender=='f' ? 'Women' :'' %>
                          <%= product.gender=='k' ? 'Kids' :'' %>
                          <%= product.gender=='u' ? 'Unisex' :'' %>
                        </td>
                      </tr>
                      <tr>
                        <td>Age Group</td>
                        <td>
                            <%= product.agegroup=='n' ? 'New Born ( 0 - 12 Months)' :'' %>
                            <%= product.agegroup=='i' ? 'Infant ( 1 - 4 Years)' :'' %>
                            <%= product.agegroup=='k' ? 'Kids ( 5 - 20 Years)' :'' %>
                            <%= product.agegroup=='t' ? 'Teen ( 13 - 20 Years)' :'' %>
                            <%= product.agegroup=='y' ? 'Young ( 21 - 30 Years)' :'' %>
                            <%= product.agegroup=='a' ? 'Adult ( 30 - 55 Years)' :'' %>
                            <%= product.agegroup=='s' ? 'Seniors ( 55+ Years)' :'' %>
                            
                          </td>
                      </tr>
                      <tr>
                        <td>Fabric</td>
                        <td><%= product.materialtype%></td>
                      </tr>
                      <tr>
                          <td>Manufacture</td>
                          <td><%= product.manufacturename%></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- End Detail Tab Content -->
              <% if(isadmin) { %>
                
              <!-- Inventory Tab Content -->
              <div role="tabpanel" class="tab-pane" id="inventory">
                  
                  <div class="well">
                    <table class="table table-bordered">
                        <tr>
                          <th>Size</th>
                          <th>Unit Prize</th>
                          <th>Discount %</th>
                          <th>Instock</th>
                          <th>Reserved</th>
                          <th>Available</th>
                          <th>&nbsp;</th>
                        </tr>
                        
                <%
                  product.Inventories.forEach(function(inventory){
                    inventory.items.forEach(function(item){
                %>

                    <tr>
                      <td><%= item.size %></td>
                      <td><%= item.unitprice %></td>
                      <td><%= item.discount %></td>
                      <td><%= item.instock %></td>
                      <td><%= item.reserved %></td>
                      <td><%= item.instock - item.reserved%></td>
                      <td>
                        <a href="javascript:deleteInventory(<%= item.id %>)" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></a>
                        <button class="btn btn-default btn-sm" data-toggle="#frm-edt-inv-<%=item.id%>" ><i class="fa fa-pencil"></i></button>
                        
                      </td>
                    </tr>
                  <%
                    })
                  })
                  %>
                    </table>
                  <%
                    product.Inventories.forEach(function(inventory){
                      inventory.items.forEach(function(item){
                  %>
                      
                  <form action="/admin/product/<%=product.id%>/inventory/<%=item.id%>.html" method="PUT"  id="frm-edt-inv-<%=item.id%>" data-form="inv">
                    <input type="hidden" name="productid" value="<%= product.id %>" />
                    <input type="hidden" name="invid" value="<%= product.id %>" />
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td class="col-md-2">Size</td>
                          <td><input type="text" value="<%=item.size %>" name="size" placeholder="size"/></td>
                        </tr>
                        <tr>
                          <td>Price</td>
                          <td><input type="text" value="<%=item.unitprice %>" name="unitprice" placeholder="unit price"/></td>
                        </tr>
                        <tr>
                          <td>Discount</td>
                          <td><input type="text" value="<%=item.discount %>" name="discount" placeholder="discount"/></td>
                        </tr>
                        <tr>
                            <td>Instock</td>
                            <td><input type="text" value="<%=item.instock %>" name="instock" placeholder="Instock"/></td>
                        </tr>
                        <tr>
                          <td>Reserved</td>
                          <td><input type="text" value="<%=item.reserved %>" name="reserved" placeholder="Reserve"/></td>
                        </tr>
                        <tr>
                            <td colspan=2>
                              <center>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-info" data-toggle="#frm-edt-inv-<%=item.id%>">Cancel</button>
                              </center>
                            </td>
                        </tr>
                      </tbody>
                    </table>                     
                  </form>  
                  <%
                    })
                    })
                  %>
                                  
                  <form action="/admin/product/<%=product.id%>/inventory.html" method="POST"  id="frm-add-inv" data-form="inv">
                  <input type="hidden" name="productid" value="<%= product.id %>" />
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="col-md-2">Size</td>
                        <td><input type="text" value="" name="size" placeholder="size"/></td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td><input type="text" value="" name="unitprice" placeholder="unit price"/></td>
                      </tr>
                      <tr>
                        <td>Discount</td>
                        <td><input type="text" value="" name="discount" placeholder="discount"/></td>
                      </tr>
                      <tr>
                          <td>Instock</td>
                          <td><input type="text" value="" name="instock" placeholder="Instock"/></td>
                      </tr>
                      <tr>
                        <td>Reserved</td>
                        <td><input type="text" value="" name="reserved" placeholder="Reserve"/></td>
                      </tr>
                      <tr>
                          <td colspan=2>
                            <center>
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="reset"  class="btn btn-warning">reset</button>
                              <button type="button" class="btn btn-info" data-toggle="#frm-add-inv">Cancel</button>
                            </center>
                          </td>
                      </tr>
                    </tbody>
                  </table>                  
                  </form>
                  <button class="btn btn-info" data-toggle="#frm-add-inv">Add Inventory</button>
                </div>
                </div>
                <!-- End Inventory Tab Content -->              

              <!-- Image Tab Content -->
              <div role="tabpanel" class="tab-pane" id="images">
                  
                  <div class="well">
                      <form action="/admin/product/<%= product.id %>/image.html" method="post" enctype="multipart/form-data" data-form='prd'>
                        <div class="input-group">
                            <input type="file" class="form-control" name="filename"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info">Upload Image <i class='fa fa-circle-o-notch fa-spin hide' ></i> </button>
                            </span>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                      <% 
                          product.ProductImages.forEach(function(image){ 
                      %>
                          <div class="col-md-2 text-center">
                              <img id='img-<%= image.id %>' src='<%= image.path %><%= image.sm %>' alt="" class="img-thumbnail" >
                              <a href="javascript:deleteimage(<%=image.id %>)"><i class="fa fa-trash"></i></a>
                          </div>

                      <% 
                        }) 
                      %>
                  </div>    
                </div>
                </div>
                <!-- End Image Tab Content -->              
                
                
                <%
                  }
                %>
          </div>
          <!-- End Tab panes -->

        </div>
      </div>
  </div>
  
    <!-- End Main Content -->

    <%- include('shared/footer',{siteattributes:siteattributes}) %>
    <%- include('shared/scripts') %>

    <%
    if(isadmin){
    %>
      <script type="text/javascript">
          function updateStatusProduct(){
            var status = $("input[type='hidden'][name='isactive']").val() == 'true' ? 'false' : 'true';
          
            $.ajax({
                url: '/admin/product/<%=product.id %>/edit.html',
                type: 'PUT',
                dataType:'json',
                data:'isactive='+status,
                success:function(result){
                    if(result.status==302){
                        window.location.reload();
                    }
                },
                error:function(xhr,resp,text){
                    console.log(resp);
                }
            });

          }
          function deleteProduct(){
              $.ajax({
                url: '/admin/product/<%=product.id %>/edit.html',
                type: 'DELETE',
                dataType:'json',
                data:'1',
                success:function(result){
                    if(result.status==302){
                        window.location = result.redirect;
                    }
                },
                error:function(xhr,resp,text){
                    console.log(resp);
                }
            });
          }
          function deleteimage(id){
            $.ajax({
              url:'/admin/product/<%= product.id %>/image.html',
              type:'DELETE',
              data:'imageid='+id,
              success:function(response){
                if(response.status==302){
                  window.location.reload();
                }
              }
            })
          }
          function deleteInventory(id){
            $.ajax({
              url:'/admin/product/<%= product.id %>/inventory.html',
              type:'DELETE',
              data:'id='+id,
              success:function(response){
                if(response.status==302){
                  window.location.reload();
                }
              }
            })
          }

          $(document).ready(function(){

            $("button[data-toggle]").each(function(){
              var target=$(this).attr("data-toggle");   

              $(target).hide();
              $(this).on("click",function(){
                  var target=$(this).attr("data-toggle");   
                  $(target).toggle();
              })

            })


            $("form[data-form='prd']").each(function(){ 
              var attr=$(this).attr("id")||undefined;
              if(!attr){
                $(this).attr("id","frm-ts-"+(new Date()).getTime());
              }
              attr=$(this).attr("id");

              $("<input type='hidden' value='"+(new Date()).getTime()+"' name='ts' />").appendTo($(this));
              $("<input type='hidden' value='#"+attr+"' name='refid' />").appendTo($(this));
                         
              $(this).on("submit",function(event){
                event.preventDefault();
                $(this).ajaxSubmit({
                    dataType:'json',
                    beforeSubmit: function(arr,$form, options){
                      $("#"+$($form).attr("id")+" .fa-spin").removeClass("hide");
                    },
                    error:function(xhr,resp,text){
                        console.log(resp);
                        alert("Error! Try again");
                    },
                    success: function(response) {
                          if(response.status==302){
                            window.location.reload();
                          }
                          $("#status").empty().text(response);
                          $(response.refid+" .fa-spin").hide();
                          $(response.refid+" input[name='ts']").attr("value",(new Date()).getTime());
                        }
                    });
                  return false;
              });
            });

            $("form[data-form='inv']").each(function(){ 
              var attr=$(this).attr("id")||undefined;
              if(!attr){
                $(this).attr("id","frm-ts-"+(new Date()).getTime());
              }
              attr=$(this).attr("id");

              $("<input type='hidden' value='"+(new Date()).getTime()+"' name='ts' />").appendTo($(this));
              $("<input type='hidden' value='#"+attr+"' name='refid' />").appendTo($(this));
                        
              $(this).on("submit",function(event){
                event.preventDefault();
                var action = $(this).attr("action");
                var method = $(this).attr("method");
                
                console.log(action);

                $.ajax({
                    url:action,
                    type:method,
                    data:$(this).serialize(),
                    dataType:'json',
                    beforeSubmit: function(arr,$form, options){
                      $("#"+$($form).attr("id")+" .fa-spin").removeClass("hide");
                    },
                    error:function(xhr,resp,text){
                        console.log(resp);
                        alert("Error! Try again");
                    },
                    success: function(response) {
                          if(response.status==302){
                            window.location.reload();
                          }
                          $(response.refid+" .fa-spin").hide();
                          $(response.refid+" input[name='ts']").attr("value",(new Date()).getTime());
                        }
                    });
                  return false;
              });
            })
        })   /*JQuery */       

      </script>
    <%
    }
    %>

  </body>
</html>