<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head',{siteattributes:siteattributes}) %>
  <body class="fade-down">
    <%- include('shared/topbar',{siteattributes:siteattributes}) %>
    <%- include('shared/searchbar',{navigation:navigation,siteattributes:siteattributes}) %>
    <%- include('shared/navbar',{navigation:navigation,siteattributes:siteattributes}) %>
    <%- include('components/breadcrumb',{navPath:navPath,siteattributes:siteattributes}) %>
    
    <!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">
        <!-- Product List -->
        <div class="col-sm-12">
          <div class="title"><span><%= pageTitle %></span></div>
          <%
            products.forEach(function(product){
          %>
            <%- 
              include('components/tile',{tileClass:'col-xs-6 col-sm-4 col-md-3 col-lg-3',product:product}) 
            %>       
          <%
            })
          %>
        </div>
        <!-- End Product List -->

      </div>
    </div>
    <!-- End Main Content -->
    <%- include('shared/footer',{siteattributes:siteattributes}) %>
    <%- include('shared/scripts') %>

  </body>
</html>