<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head') %>
  <body class="fade-down">
    <%- /*include('shared/topbar')*/ %>
    <%- include('shared/searchbar',{navigation:navigation}) %>
    <%- include('shared/navbar',{navigation:navigation}) %>
    <%- include('components/breadcrumb',{navPath:navPath}) %>
    
    <!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">
        <!-- Product List -->
        <div class="col-sm-12">
          <div class="title"><span><%= pageTitle %></span></div>
          <%
            products.forEach(function(product){
          %>
            <%- 
              include('components/tile',{tileClass:'col-xs-6 col-sm-4 col-lg-3',product:product}) 
            %>       
          <%
            })
          %>
          <%-
            /* include('components/pagination') */
          %>
        </div>
        <!-- End Product List -->

      </div>
    </div>
    <!-- End Main Content -->
    <%- include('shared/footer') %>
    <%- include('shared/scripts') %>

  </body>
</html>